<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.xiaobei56.testprojectbzb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestProjectBzb">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.A1RvInRvActivity" />
        <activity android:name=".activity.A3ImageViewTypeActivity" />
        <activity android:name=".activity.A4AutoEllipsizeTextView" />
        <activity android:name=".activity.A4V2" />
        <activity android:name=".activity.A5FlowViewActivity" />
        <activity
            android:name=".activity.A6StatusBarActivity"
            android:theme="@style/A6StatusBar_style" />
        <activity android:name=".a7.A7GoAppMarket" />
        <activity android:name=".a8.A8Activity" />
    </application>

</manifest>